// Sass vars can go here, for instance you might have variables containing arrays for use with outputting themes, example below!

$colour: (
  mono: (
    black: #1d1d1b, 
    white: #fff,
    grey: #bbb,
    grey_light: #f0f0f0
    ), 
  brand: (
    main: #1d1d1b,
    black: #1d1d1b,
    secondary: #001f3a, 
    grey: #0F1820, 
    grey_line:#dfdedf,
    gold:#d5b27b
    ),
  blue: (
    dark: "", 
    ),
  orange: (
    dark: "", 
    ),
  red: (
    dark: "", 
    ),
  white: (
    dark: "", 
    ),   
  ); 


$common-variables: (
  padding: (
    container-tiny: 15px, 
    container-small: 40px, 
    container-medium: 50px, 
    container-large: 60px,
    ), 
  margin: (
    container-tiny: 15px, 
    container-small: 40px, 
    container-medium: 50px, 
    container-large: 60px,
    )

  ); 


@function colours($type, $subtype: 'base') {
  @return map-get(map-get($colour, $type), $subtype);
}  

@function common-variables($type, $subtype: 'base') {
  @return map-get(map-get($common-variables, $type), $subtype);
}  


@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=4f1ca31f-3fb3-4062-88b0-38d000b581de");
@font-face{
  font-family:"ITC Avant Garde Gothic W01 XLt";
  src:url("../fonts/e2726b32-fedc-4803-806a-a029c705ad22.woff2") format("woff2"),url("../fonts/cc19831d-e4b6-40fa-b009-45b1365dde5d.woff") format("woff");
}
@font-face{
  font-family:"ITC Avant GardeGothicW01XLtObl";
  src:url("../fonts/a51eafba-4e39-42fc-9979-1c7766574136.woff2") format("woff2"),url("../fonts/a4129a71-13e0-42e5-b6a6-624dd9f55d96.woff") format("woff");
}
@font-face{
  font-family:"ITC Avant Garde Gothic W01 Bk";
  src:url("../fonts/6f1146c0-9c0b-4949-866d-9affc396531f.woff2") format("woff2"),url("../fonts/2c50f982-bb73-4891-8d0e-587c1136c2e5.woff") format("woff");
}
@font-face{
  font-family:"ITC Avant Garde GothicW01BkObl";
  src:url("../fonts/abe9daef-72eb-45cc-a93a-7d6285130117.woff2") format("woff2"),url("../fonts/69fdedf5-3ddd-4815-99d0-4f04ec6c5443.woff") format("woff");
} 
@font-face{
  font-family:"ITC Avant Garde Gothic W01 Md";
  src:url("../fonts/39dda6db-d579-4a2e-b67c-abf7d732b97c.woff2") format("woff2"),url("../fonts/6cf5eb52-bda1-4506-b101-1cb1cb9ac146.woff") format("woff");
}
@font-face{
  font-family:"ITC Avant Garde Gothic W01 Dm";
  src:url("../fonts/8bfba692-98b4-401d-b187-205f59d508cf.woff2") format("woff2"),url("../fonts/29cf02ec-9cbf-449b-abff-06b4ab9b1cc0.woff") format("woff");
}
@font-face{
  font-family:"ITC Avant Garde Gothic W01 Bd";
  src:url("../fonts/4cadb55f-822a-4a35-8918-becfc5a866a3.woff2") format("woff2"),url("../fonts/af007af5-dcfa-465a-a278-47ab3eb9a589.woff") format("woff");
}

$font-heading: "ITC Avant Garde Gothic W01 Bd", "arial","helvetica", "san-serif";
$font-heading_alt: "Libre Baskerville", "arial","helvetica", "san-serif";
$font-body: "ITC Avant Garde Gothic W01 Md", "arial","helvetica", "san-serif";
$font-body_bold: "ITC Avant Garde Gothic W01 Dm", "arial","helvetica", "san-serif";
$font-body_light: "ITC Avant Garde Gothic W01 Bk", "arial","helvetica", "san-serif";;

// Social Colors
// ====================================================================

$colour-facebook: hsla(222, 47%, 40%, 1); // #365397
$colour-twitter: hsla(198, 100%, 47%, 1); // #00a9f1
$colour-linkedin: hsla(203, 100%, 35%, 1); // #006db3
$colour-apple: hsla(0, 0%, 45%, 1); // #737373
$colour-google: hsla(217, 89%, 61%, 1); // #4285f4
$colour-google_plus: hsla(8, 74%, 53%, 1); // #e0452c
$colour-youtube: hsla(0, 100%, 60%, 1); // #ff3333
$colour-vimeo: hsla(200, 82%, 61%, 1); // #48b6ed
$colour-pinterest: hsla(0, 78%, 45%, 1); // #ce1a19
$colour-yelp: hsla(5, 100%, 38%, 1); // #c30f00
$colour-dribbble: hsla(338, 82%, 60%, 1); // #ed4584
$colour-amazon: hsla(36, 100%, 50%, 1); // #ff9700
$colour-ebay: hsla(219, 89%, 30%, 1); // #083790
$colour-skype: hsla(198, 100%, 48%, 1); // #00acf4
$colour-instagram: hsla(208, 46%, 41%, 1); // #396d9a
$colour-dropbox: hsla(206, 89%, 46%, 1); // #0d84de
$colour-flickr: hsla(334, 100%, 46%, 1); // #ea0066
$colour-github: hsla(0, 0%, 18%, 1); // #2f2f2f
$colour-basecamp: hsla(121, 38%, 58%, 1); // #6bbd6d
$colour-tumblr: hsla(210, 37%, 30%, 1); // #304c68
$colour-foursquare: hsla(206, 72%, 45%, 1); // #207dc5
$colour-box: hsla(204, 83%, 40%, 1); // #1277bc
