

.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, button
 {
color:white;

   
      background-color:#EB476C; 
   background: linear-gradient(270deg, rgba(238,79,111,1) 0%, rgba(167,3,93,1) 100%);

color:white;
      cursor:pointer;
  font-weight: 500;
  padding:13px 40px;
border-radius:0;
  text-transform:uppercase;
  letter-spacing: 0.05em;
  font-size:15px;
  display:inline-block;
transition:all 0.12s linear;
border:1px solid transparent; 


  color:#fff!important;
    border:2px solid #EB476C; 
&:hover{

  text-decoration:none;

  background:black;
  color:#fff;
    border:2px solid white; 
}

  letter-spacing:2px;
  font-family:$font-heading;
  &.button-black{
    background:black;
    color:white;
  }
  &.white-outline{
    background:white;

    color:black;
  } 



}


 