

.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt
 {
  background: rgb(232,217,152);
background: linear-gradient(270deg, rgba(232,217,152,1) 0%, rgba(173,137,62,1) 100%);
color:white;



  color:black;
  font-weight: 500;
  padding:17px 40px;
border-radius:0;
  text-transform:uppercase;
  letter-spacing: 0.05em;
  font-size:15px;
  display:inline-block;


  letter-spacing:2px;
  font-family:$font-heading;
  &.button-black{
    background:black;
    color:white;
  }
  &.white-outline{
    background:white;

    color:black;
  } 



}


 