html{
  overflow-x:hidden;
  margin-top:0!important;

}

.mm-wrapper_blocking, .mm-wrapper_opening{
  padding-top:0!important;
}
html{
}
body{
  padding-top:157px; 
  background:white;
  font-family: $font-body, "Arial", "Helvectica" "Times New Roman", serif;
  font-size: 13px;
  line-height: 1.7;
  color: colours(brand,black);

  @media (max-width: $screen-sm-max) {

    padding-top:70px;
  }

} 
#header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:0px 15px;
  background-color:white;
  z-index:100;
  box-shadow:0px 0px 5px rgba(0,0,0,0.4);

  @media (max-width: $screen-sm-max) {

    padding:15px 15px;
  }


  .is-flex{
    align-items:center;
  }
  .logo{
    display:inline-block;
    padding:30px 0 10px 0;
    text-align:center;
    margin-bottom:-5px;

    @media (max-width: $screen-sm-max) {
      padding:0;
    }
    img{
      max-height:45px;
    }

  }

  @media (max-width: $screen-sm-max) {

    .mobile-menu-container{
      display:block!important;
      transform:scale(0.8);
      margin-top:-10px;
      margin-bottom:-10px;
    }
  } 

  .main-navigation{
    text-align:left;



    nav{

      @media (max-width: $screen-sm-max) {

        display:none;
      }
      > ul{
        display:flex;
        justify-content: center;
        position:relative;

        >li{

          font-size:18px;  

          font-family:$font-body;

          padding:15px 20px;






          >.sub-menu{
            display:flex;
            padding-top:40px!important;  
            padding-bottom:40px;
            border-bottom:1px solid #ccc;

            &:before, &:after{
              content:"";
              background:white;
              right:100%;
              width:2000px;
              height:100%;
              border-bottom:1px solid #ccc;

              top:0;
              position:absolute;
            }
            &:after{
              left:100%;
              right:auto;
            }

            li{
              flex:1; &.image-block, .image{
                flex:2;
                img{
                  max-width:100%;
                }

              }
              &.empty{
                flex:0;
                font-size:0;
              }
              a{
                font-weight:bold;
                ul{
                  display:inline-block;
                  li{
                    display:inline-block;

                  }

                }
              }
            }

          }


          > a{ 
            color:inherit; 
            display:inline-block;
            padding:5px 10px;
            font-weight:600;
            transition:all 0.2s ease-in;
            text-decoration:none;
            &:hover{
              color:#DF2C62; 
            }
          }
          &:hover{
           > ul{
            display:flex;
            visibility: visible;
            top:100%;

            opacity:1;
            z-index:20;
          }
        }
      }
      > li > ul{ 
        visibility: hidden;
        opacity:0;
        transition:all 0.2s ease-in;
        z-index:-20;
        width:100%;
        position:absolute;
        left:0;
        background:white;
        top:120%;
        border-top:1px solid #ccc;
        padding:20px 40px;
        min-width:400px;

        li{
          a{
            color:inherit;
            margin-bottom:5px;
            transition:all 0.2s ease-in;
            color:black;
            display:inline-block;

            &:hover{
              text-decoration:none;
              color:#DF2C62; 
            }
          }
        }
        ;
      }
    }
  }

}




.my-account{
  display:flex;
  justify-content: flex-end;

}
.my-account nav ul{
  display:flex; 
  width:100%;
  align-items: center;
  justify-content: flex-end;

  a{
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    text-decoration:none;
    font-style:none;
  }
  img{
    vertical-align: top;
  }
  li{

    display: flex;
    align-items: center;
    justify-content: center;
    font-size:14px;

    cursor:pointer;
    text-align:center;
    margin-left:40px;
    transition:all 0.15s ease-in;
    @media (max-width: $screen-sm-max) {

      margin-left:15px;
    }
    &:hover, a:hover{
      color:#DF2C62; 
    }
    span{
      margin-left:15px;
      font-size:13px;
      font-weight:600;
      text-decoration:none;
    }
    a{
      text-decoration: none;
      font-weight:400;
      color:colours(brand,black); 
    }
    i{
      font-size:20px;
    }

  } 

}


@media (max-width: $screen-sm-max) {

  .is-flex{
    display:flex;
    .logo{
      order:2;
      text-align:center;
      img{
        max-height:35px;
      }
    }
    .my-account{
      order:3;
    }
  }

  .menu-trigger-inner{
    .label{
      display:none; 
    }
  }

}


}       



.top-message{
  background:colours(brand,black);

  padding:10px;
  text-align:center;
  color:white;
  h5{
    padding:0;
    font-size:15px;
    margin:0;
  }

}






.breadcrumbs{
  float:left;
  width:100%;
  background:#f2f2f2;
  padding:15px 40px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  font-family:$font-body;
  display:none;
}


.breadcrumbs li{
  display:inline-block;
}

.breadcrumbs li a, .breadcrumbs li strong{
  display:inline-block;


  color:#aaa;
  font-size:14px;
}
.breadcrumbs li a, .breadcrumbs li strong{
  margin-right:20px;

}
.breadcrumbs li:after{
  content:">";
  margin-right:15px;
  color:#aaa;
}
.breadcrumbs li:last-child:after{
  display:none;
}
.top-benefits{
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  z-index:10;
  position:relative;
}




.product-search-form{
  position:relative;

  ::-webkit-input-placeholder {
   color: #333;
 }
 :-moz-placeholder { 
   color: #333;  
 }
 ::-moz-placeholder {  
   color: #333;  
 }
 :-ms-input-placeholder {  
   color: #333;  
 }
 &:before{
  content:"\f002";
  top:3px;
  font-size:20px;
  position:absolute;
  font-family:"FontAwesome";

}
input{
  padding-left:40px;
  border:0px;
  border:1px solid #333;
  border-left:0;
  border-right:0;
  color:#333;
  font-size:14px;
  box-shadow:initial;
  text-align:left!important;

  border-top:0;
}
}

.mini-cart{
  position:absolute;
  top:-8px;
  right:-8px;
  background:black;
  width:15px;
  height:15px;
  color:white;
  line-height:15px;
  font-size:10px;
  border-radius:50%;
  pointer-events:none;
} 

.search-container{
  position:absolute;
  right:0;
  min-width:300px;
  top:57px;
  display:none;

}
#header .my-account li{
}
.product-search-form{
  text-align:left;
}
#product-search-form-0 input{
  text-align:left;
  max-width:300px;
}

.mm-panels, .mm-panel{
  background:#DF2C62!important;
  color:white!important;
}
.mm-listitem{
  color:white!important;

  font-family:$font-body, "arial", "helvetica", "san-serif";
  letter-spacing:1px;
  font-size:16px;
}
.mm-navbar_sticky{
  border-bottom:0!important;
  background:black!important;
  color:white!important;


  font-family:$font-body, "arial", "helvetica", "san-serif";
  font-size:1.4em;
  letter-spacing:5px;
}
.mm-btn.mm-btn_prev:before{
  color:white!important;
  border-color:#999;
}

.mini-cart-container{
  position: relative;
}


// Mega Menu

#menu-main{

}



.menu-image-title-after.menu-image-title{
padding-left:0;
margin-top:5px!important;
display:inline-block;
width:100%;
}