.woocommerce-cart{
	.top-message{
		margin-bottom:5em;
	}
}


.woocommerce-cart table.cart th, .woocommerce table.shop_table tbody:first-child tr:first-child th,  .woocommerce-cart .cart-collaterals .cart_totals tr th, .woocommerce table.shop_table th
{
	
	font-weight:normal;
	font-family:$font-heading;;
	font-size:15px; 

}

.cart_item .product-quantity .quantity span{
	display:none;
}

.woocommerce-cart-form{
	width:65%;
	float:left;
	@media (max-width: $screen-sm-max) {
		width:100%;
	}
}
.woocommerce ul#shipping_method li{

}
html .woocommerce .cart-collaterals{
	float:right;
	width:30%; 
	@media (max-width: $screen-sm-max) {
		width:100%;
	}
}
body .coupon + .button{
	padding:14px 30px!important;
}

html .woocommerce .cart-collaterals .cart_totals,  html.woocommerce-page .cart-collaterals .cart_totals{
	width:100%;
}  

.cart_totals  h2{
	display:none;
}


.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, .woocommerce #payment #place_order, .woocommerce-page #payment #place_order, .woocommerce #payment #place_order, .woocommerce-page #payment #place_order:hover{
	background:#EB476C!important;
	padding:20px!important;
	font-size:16px!important;
	&:hover{
		background:black!important;
		border-color:black!important;
	}
}

#order_review_heading{
	margin-top:20px;
}

.woocommerce-cart table.cart td.actions .coupon .input-text{
	min-width:260px;
	letter-spacing:0;


padding:10px 20px!important;
}

.coupon{
display:flex;
}



.woocommerce-shipping-destination{
display:none;
}

body .woocommerce-message{
margin-top:20px;
background:#EB476C; ;
color:white;
letter-spacing:1px;
border-top:3px solid black;
 
font-family:$font-body, "arial", "helvetica", "san-serif";

font-size:1.2em;
}
 .woocommerce .button{


background-color:black!important;
color:white!important;
font-size:13px!important;
padding:10px 30px!important;

}


body .woocommerce-message::before{
font-size:1.6em;
top:10px;
color:black;
left:15px;
}


	.woocommerce-page .woocommerce, .woocommerce-account .woocommerce, #yith-wcwl-form, .page-id-1249 .woocommerce{
margin:0 auto;
padding-top:30px;
max-width:1200px;
padding-bottom:100px;
}

.yith-wcwl-icon{
	transition:all 0.2s ease-in;
	color:#EB476C; ;
	&:hover{
		 
	}
}


	@media (max-width: $screen-sm-max) {

	.woocommerce-page .woocommerce{
			padding-top:0;
		}

		.quantity{
			select{
				width:Auto;
				margin-bottom:0;
			}
		}
	
.woocommerce-cart{
#trust-bar{
	display:none;
}

	.banner-carousel .image{
			display:none;
		}
		.banner-carousel .content{
			padding:15px;
		}
.container-content{
	padding:10px;
}

table.cart td.actions .coupon .input-text{
	min-width:initial;
	flex:1;
}
}
}

.woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before{
	font-weight:normal;
	font-family:$font-heading;
	
}

.products{
.product{
text-align:center;

}

.product h2 {
text-align:left;
}
.product span{
text-align:left;
}

.add_to_cart_button{
width:100%;
}

.woocommerce-loop-product__title{
min-height:58px;
}
}