.woocommerce-cart{
	.top-message{
		margin-bottom:5em;
	}
}


.woocommerce-cart table.cart th, .woocommerce table.shop_table tbody:first-child tr:first-child th,  .woocommerce-cart .cart-collaterals .cart_totals tr th, .woocommerce table.shop_table th
{
	text-transform:uppercase;
	font-weight:normal;
	font-family:$font-heading;;
	font-size:15px; 

}

.cart_item .product-quantity .quantity span{
	display:none;
}

.woocommerce-cart-form{
	width:73%;
	float:left;
	@media (max-width: $screen-sm-max) {
		width:100%;
	}
}

html .woocommerce .cart-collaterals{
	float:right;
	width:25%; 
	@media (max-width: $screen-sm-max) {
		width:100%;
	}
}

html .woocommerce .cart-collaterals .cart_totals,  html.woocommerce-page .cart-collaterals .cart_totals{
	width:100%;
} 

.cart_totals  h2{
	display:none;
}


.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, .woocommerce #payment #place_order, .woocommerce-page #payment #place_order, .woocommerce #payment #place_order, .woocommerce-page #payment #place_order:hover{
	background:black!important
}

#order_review_heading{
	margin-top:20px;
}

.woocommerce-cart table.cart td.actions .coupon .input-text{
	min-width:260px;

padding:10px;
}

.coupon{
display:flex;
}



.woocommerce-shipping-destination{
display:none;
}

.woocommerce-message{
margin:20px 0;
background:black;
color:white;
letter-spacing:1px;
border-top:0
}


.woocommerce-message{
font-family:"ITC Avant Garde Gothic W01 Bd", "arial", "helvetica", "san-serif";
text-transform:uppercase;
font-size:1.2em;
}
 .woocommerce a.button{

background:black;
color:white;
font-size:14px;
padding:10px 20px;

}
.woocommerce-message a.button{
background:white;
color:black;
}

.woocommerce-message::before{
font-size:1.6em;
top:10px;
left:15px;
}


	.woocommerce-page .woocommerce, .woocommerce-account .woocommerce, #yith-wcwl-form, .page-id-1249 .woocommerce{
margin:0 auto;
padding-top:30px;
max-width:1280px;
padding-bottom:100px;
}

