
.tax-product_cat, .post-type-archive-product, .tax-product_brand{
.page-title{
text-align:center;
padding:1em 0;
border-bottom:1px solid #ccc;
margin-bottom:2em;
}
}
.woocommerce{
	ul.products{
		li.product{

			a{
					color:#737373;
			}
			.woocommerce-loop-product__title{
				font-family:$font-body_bold;
				text-transform:uppercase;
				color:inherit;
				font-size:17px;
				line-height:1.2;
				letter-spacing:0.5px;
	
				a{
					color:#737373;

				} 
			}

	
		}
	}
	.price{

	}
}

		.price{

				color:black;
			
					color:inherit;
				font-family:$font-body_bold;
				font-weight:normal;
				font-size:15px;
				span{
					font-weight:400;
				}

				del{
color:#333;
				}
				ins{
					color:red;
					text-decoration:none;
				}
		
			}