.woocommerce{
ul.products{
li.product{

	a{
			color:inherit;	
	}
.woocommerce-loop-product__title{
	font-family:$font-body_bold;
	text-transform:uppercase;
	color:inherit;
		font-size:17px;
	a{
		color:inherit;

	}
}
}
}
}