
.product-search-results-content{
max-height:500px
}
.product-search-results-content .wps_add_to_cart{
display:none;
}

.product-search-results-content tr.product{
padding:0 10px!important;
display:inline-block;
border-bottom:1px solid #ccc!important;
}
.product-search-results-content .description{
display:none!important;
}
.product-search-results .entry span.title{
font-size:13px!important;
line-height:1.4!important;
font-weight:400!important;
}  